.contenedor {
  width: 100%;
  height: 100%;
  background-color: rgba(243, 243, 243, 0.2);
  backdrop-filter: blur(8px);
  display: none;
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
}

.openMostrar {
  display: flex;
}

.title-modal {
  color: rgba(255, 255, 255, 1);
  margin-left: 30px;
  font-size: 50px;
}
.mensaje {
  color: rgba(255, 255, 255, 1);
}
.contenedor-inputs {
  width: 40%;
  height: 60%;
  background-color: rgba(47, 64, 80, 0.8);
  box-shadow: 0 10px 20px 5px rgb(0 0 0 / 20%);
  border-radius: 20px;
}

.contenedor-cajas {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.style-espacios-dos-input {
  display: flex;
  gap: 25px;
  margin-top: 23px;
  margin-left: 29px;
}

.style-espacios-un-input {
  margin-top: 23px;
  margin-left: 29px;
}

.item-contenedor-codidomi {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.nombres-modal {
  border-style: solid;
}

.apellidos-modal {
  border-style: solid;
  height: 35px;
  width: 100%;
}

.correo-modal {
  border-style: solid;
  height: 35px;
  width: 100%;
}

/* estilo para los imputs */
/* .nombres-modal {
  border-radius: 19px;
  border-style: solid;
  height: 35px;
  width: 228px;
  font-size: 22px;
}

.nombres-modal::placeholder {
  color: #cccccc;
}

.nombres-modal:focus {
  outline: none;
}

.apellidos-modal {
  border-radius: 19px;
  border-style: solid;
  height: 35px;
  width: 377px;
  font-size: 22px;
}

.apellidos-modal::placeholder {
  color: #cccccc;
}

.apellidos-modal:focus {
  outline: none;
}

.correo-modal {
  border-radius: 19px;
  border-style: solid;
  height: 35px;
  width: 640px;
  font-size: 22px;
  margin-top: 47px;
  margin-left: 29px;
}

.correo-modal::placeholder {
  color: #cccccc;
}

.correo-modal:focus {
  outline: none;
}

.codigo-modal {
  border-radius: 19px;
  border-style: solid;
  height: 35px;
  width: 280px;
  font-size: 22px;
}

.codigo-modal::placeholder {
  color: #cccccc;
}

.codigo-modal:focus {
  outline: none;
}

.domicilio-modal {
  border-radius: 19px;
  border-style: solid;
  height: 35px;
  width: 334px;
  font-size: 22px;
}

.domicilio-modal::placeholder {
  color: #cccccc;
}

.domicilio-modal:focus {
  outline: none;
} */
/* fin de estilo para los inputs */

/* .cont-nombreApellido {
  display: flex;
  gap: 25px;
  margin-top: 23px;
  margin-left: 29px;
}
.contenedor-codidomi {
  margin-top: 17px;
  display: flex;
  gap: 12px;
  margin-left: 29px;
}
.codigotexto {
  margin-left: 5px;
  color: white;
}
.correotexto {
  margin-left: 35px;
  color: white;
}
.domiciliotexto {
  margin-left: 5px;
  color: white;
  font-weight: lighter;
}
.mensaje {
  margin-left: 33px;
  display: flex;
  margin-top: -22px;
}
.registrar-modal {
  position: absolute;
  width: 398px;
  height: 63px;
  background: #1e2f3e;
  margin-left: 155px;
  margin-top: 64px;
  border-radius: 10px;
  border-style: none;
  color: white;
  font-size: 18px;
}

.contenedor-registrar {
  margin-left: 23px;
  display: flex;
} */
